.container-page {
  @include mixin-center-children;
  @include mixin-align-top-left;
  @include mixin-w-h-fill;
  @include mixin-clear-p-style;
  position: fixed;
  line-height: 1.25em;
}

.container-console {
  @include mixin-w-h-fill(calc(100% - #{$padding-container-main} * 2));

  min-width: $width-container-min;
  max-width: $width-container-max;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    @include mixin-w-h-fill;
    @include hide-scroll-bar;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .bottom {
    @include mixin-w-h-fill(100%, fit-content);
    display: flex;
    flex-direction: column;
    gap: $padding-container-main;
    padding-top: $padding-container-main;
  }
}
