.function-bar {
  @include mixin-center-children;
  padding: 0 $padding-content;
  .function-bar-container {
    @include mixin-w-h-fill;
    min-width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    justify-content: space-between;

    @include width-narrower() {
      grid-template-columns: repeat(2, fit-content(100%));
    }
  }
}

.function-key {
  @include mixin-disable-selection;
  @include mixin-w-h-fill(fit-content, 100%);
  cursor: pointer;

  .name {
    @include mixin-center-children;
    word-break: keep-all;
  }
}
