.prompt {
  position: relative;
  width: 100%;
  padding: 0 $padding-content;
}

.input {
  position: relative;
  z-index: 1;
}

.cursor {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  &.hidden {
    opacity: 0;
  }

  &::before {
    content: attr(data-text);
    visibility: hidden;
    overflow-wrap: anywhere;
  }

  &::after {
    content: '█';
    opacity: 0.75;
  }

  &.blink::after {
    animation: blink 1s steps(1) infinite;
  }
}

.suggestion-container {
  @include mixin-center-children;
  padding: 0 $padding-content;
  height: $line-height;

  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
}
