.prompt {
  word-break: break-all;
  word-wrap: break-word;
}

.cursor {
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  &::after {
    content: '_';
  }

  &.blink::after {
    animation: blink 1s steps(1) infinite;
  }
}

// .user-input {
// }
