.text-split {
  display: grid;
  grid-template-columns: 40% auto 55%;
  grid-template-rows: fit-content;

  &__sep {
    &::after {
      content: ':';
      text-align: center;
    }

    &--alt::after {
      content: '-';
    }
  }

  @include width-narrower() {
    grid-template-columns: 100%;

    &__sep::after,
    &__sep--alt::after {
      display: none;
    }
  }
}
