.virtual-keyboard {
  @include mixin-center-children;
  flex-direction: column;

  .row {
    @include mixin-center-children;
    width: 100%;
    max-width: 35rem;
    min-width: 18rem;

    .key {
      position: relative;
      cursor: pointer;
      height: 2.35rem;

      &--small {
        width: 10%;
      }
      &--mid {
        width: 25%;
      }
      &--large {
        width: 50%;
      }
    }

    .key {
      .pad {
        padding: 0.2rem;
        height: 100%;
        width: 100%;
      }

      &--down .pad {
        position: absolute;
        bottom: 0;
        height: 175%;
      }
    }

    .key .label {
      @include mixin-w-h-fill;
      @include mixin-center-children;
      @include mixin-disable-selection;

      border: 2px solid var(--color-text-plain);
      border-radius: 0.3rem;
      background-color: var(--color-background);
    }
  }
}
