.virtual-keyboard {
  @include mixin-center-children;
  flex-direction: column;

  .row {
    @include mixin-center-children;
    width: 100%;
    max-width: 42rem;
    min-width: 26rem;
    height: 2.75rem;

    &:last-of-type {
      height: 3rem;
    }

    .key {
      @include mixin-disable-selection;
      position: relative;
      cursor: pointer;
      height: 100%;

      &--small {
        width: 10%;
      }
      &--mid {
        width: 15%;
      }
      &--large {
        width: 55%;
      }
    }

    .key {
      .pad {
        @include mixin-disable-selection;
        position: absolute;
        padding: 0.17rem;
        height: 100%;
        width: 100%;
        bottom: 0;
        transition: height 0.05s;
      }

      &--down .pad {
        height: 175%;
      }
    }

    .key {
      .label {
        @include mixin-w-h-fill;
        @include mixin-disable-selection;

        border: 0.125rem solid;
        border-radius: 0.5rem;
        background-color: var(--color-background);
        overflow: hidden;
        padding-top: 0.3rem;
        padding-left: 0.4rem;

        p {
          @include mixin-w-h-fill(fit-content);
          white-space: nowrap;
          line-height: $line-height;
        }

        &--norm {
          border-color: var(--color-plain);
          color: var(--color-plain);
        }

        &--func {
          border-color: var(--color-desc);
          color: var(--color-desc);
          font-size: 0.875em;
        }
      }
    }
  }
}
