$keyboard-gap: 0.35em;

.virtual-keyboard {
  @include mixin-center-children;
  font-size: 0.9rem;
  background-color: var(--color-background-fade);
  border-radius: 0.5em;

  padding: 0 $padding-content $padding-content $padding-content;

  .desktop {
    @include mixin-w-h-fill(100%, fit-content);

    .rows-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;

      .row {
        width: 20em;
        &--left {
          justify-self: start;
        }

        &--right {
          justify-self: end;
        }
      }

      .key {
        &--small {
          width: 20%;
        }
        &--mid {
          width: 20%;
        }
        &--large {
          width: 80%;
        }
      }
    }
  }

  .mobile {
    @include mixin-w-h-fill(100%, fit-content);

    .rows-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .key {
        &--small {
          width: 10%;
        }
        &--mid {
          width: 15%;
        }
        &--large {
          width: 55%;
        }
      }
    }
  }

  .rows-container {
    gap: $keyboard-gap;
  }

  .direct-input-container {
    @include mixin-center-children;
    @include mixin-w-h-fill(100%, 3rem);

    gap: 0.25em;

    input {
      @include override_default_input();
      @include mixin-w-h-fill();
      @include global-root-font();

      font-size: 0.9em;
      font-weight: 400;

      @include placeholder {
        color: var(--color-plain);
        opacity: 1;
      }
    }
  }

  .row {
    @include mixin-center-children;
    @include mixin-w-h-fill(100%, 2.7em);
    gap: $keyboard-gap;

    .key {
      @include mixin-disable-selection;
      position: relative;
      cursor: pointer;
      height: 100%;
    }

    .key {
      .pad {
        @include mixin-disable-selection;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        transition: height 0.05s;
      }

      &--down .pad {
        height: 175%;
      }
    }

    .key {
      .label {
        @include mixin-w-h-fill;
        @include mixin-disable-selection;

        border: 0.125em solid;
        border-radius: 0.5em;
        background-color: var(--color-background-fade);
        overflow: hidden;
        padding-top: 0.3em;
        padding-left: 0.4em;

        p {
          @include mixin-w-h-fill(fit-content);
          white-space: nowrap;
          line-height: $line-height;
        }

        &--norm {
          border-color: var(--color-plain);
          color: var(--color-plain);
        }

        &--func {
          border-color: var(--color-desc);
          color: var(--color-desc);
          p {
            font-size: 0.875em;
          }
        }
      }
    }
  }
}
