.plain {
  color: var(--color-plain);
  &--reverse {
    background-color: var(--color-plain);
    color: var(--color-background);
  }
}

.focus {
  color: var(--color-focus);
  &--reverse {
    background-color: var(--color-focus);
    color: var(--color-background);
  }
}

.desc {
  color: var(--color-desc);
  &--reverse {
    background-color: var(--color-desc);
    color: var(--color-background);
  }
}

.warn {
  color: var(--color-warn);
  &--reverse {
    background-color: var(--color-warn);
    color: var(--color-background);
  }
}

.calm {
  color: var(--color-calm);
  &--reverse {
    background-color: var(--color-calm);
    color: var(--color-background);
  }
}

.neon {
  color: var(--color-neon);
  &--reverse {
    background-color: var(--color-neon);
    color: var(--color-background);
  }
}

.underline {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.double {
  font-size: 1.8em;
}

.spread {
  letter-spacing: 0.35em;
}

.nowrap {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}

.noselect {
  @include mixin-disable-selection;
}
