.plain {
  color: var(--color-text-plain);
  &--reverse {
    background-color: var(--color-text-plain);
    color: var(--color-background);
  }
}

.focus {
  color: var(--color-text-focus);
  &--reverse {
    background-color: var(--color-text-focus);
    color: var(--color-background);
  }
}

.desc {
  color: var(--color-text-desc);
  &--reverse {
    background-color: var(--color-text-desc);
    color: var(--color-background);
  }
}

.neon {
  color: var(--color-text-neon);
  &--reverse {
    background-color: var(--color-text-neon);
    color: var(--color-background);
  }
}

.underline {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.double {
  line-height: calc(#{$line-height} * 1.8);
  font-size: 1.8em;
}

.spread {
  letter-spacing: 0.35em;
}

.nowrap {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}

.noselect {
  @include mixin-disable-selection;
}
