$padding-container-main: 1rem;
$line-height: 1.25rem;

@mixin mixin-center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mixin-align-top-left {
  top: 0;
  left: 0;
}

@mixin mixin-clear-p-style {
  p {
    margin: 0;
  }
}

@mixin mixin-w-h-fill($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

@mixin mixin-w-h-min($min-width: fit-content, $min-height: $min-width) {
  min-width: $min-width;
  min-height: $min-height;
}

@mixin mixin-disable-selection() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
