$padding-container-main: 1rem;
$padding-content: 0.2rem;
$line-height: 1.2em;

$width-container-min: 19rem;
$width-container-max: 62.5rem;

$font-family: 'Noto Sans Mono', monospace;

$bp-wide: 700px;
$bp-narrow: 500px;
$bp-narrower: 360px;
