@mixin css-vars-colors {
  --color-text-plain: #94a3c2;
  --color-text-focus: #f59879;
  --color-text-desc: #1ca0a9;
  --color-text-neon: #f7f054;
  --color-background: #000c18;
}

@mixin global-root-color {
  background-color: var(--color-background);
  color: var(--color-text-plain);
}

@mixin global-root-font {
  font-family: 'Robot Mono', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
