// html
* {
  box-sizing: border-box;
}

p {
  @include mixin-w-h-fill(fit-content);
  line-height: $line-height;
  word-break: break-all;
}

// global css classes
.global {
  &-d-flex {
    display: flex;
  }

  &-flex-col {
    flex-direction: column;
  }

  &-w-fit-content {
    width: fit-content;
  }

  &-h-fit-content {
    height: fit-content;
  }

  &-clickable {
    cursor: pointer;
  }

  &-word-break-normal {
    word-break: normal;
  }

  @each $k, $v in ('25': 0.25rem, '50': 0.5rem, '100': 1rem) {
    &-gap-#{$k} {
      gap: $v;
    }
  }
}
